<div class='menu' id='menu-<%= menu.id %>'>
  <%= link_to 'Back To Top', '#navigation-bar', class: 'scroll' %>
  <h2><%= menu.name %></h2>
  <% menu.dish_categories.each do |category| %>
    <h4><%= category.name %></h4>
    <% category.dishes.each do |dish| %>
      <span><%= dish.name %> Price: <%= dish.price %></span><br />
    <% end %>
  <% end %>
</div>
